body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* CSS styles */
.no-underline {
  text-decoration: none; /* Bỏ gạch chân */
  color: inherit; /* Giữ màu chữ giống như phần tử cha */
}

.no-underline:hover {
  text-decoration: none; /* Bỏ gạch chân khi hover */
  color: inherit; /* Giữ màu chữ giống như phần tử cha khi hover */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
